{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    login
{% endblock %}

{% block head %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{#    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>#}
{% endblock head %}

{% block content %}
    <div class="container">
        <p>Email with password reset instructions has been sent."</p>
    </div>

{% endblock content %}

