{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    login
{% endblock %}

{% block head_ext %}
{% endblock %}

{% block body_ext %}
    <div id="yomama">
    <div class="col-xs-2 icon_reset">
        <img id="yo_icon" height=120 src="{% static 'img/yo-icon.png' %}">
    </div>
    <div class="col-xs-8">
        <div class="yomama_text">Yomama</div>
    </div>

</div>
    <div class="container login-body">
        <form method="post" action=".">
            {% csrf_token %}
            username: {{ form.username }}
            <br>
            <br>
            password: {{ form.password1 }}
            <br>
            <br>
            confirm password:{{ form.password2 }}
            <br>
            <br>
            <input class="btn btn-xl btn-success" type="submit" value="Submit">
        </form>
    </div>

{% endblock%}
