{% extends 'base_url.html' %}
{% load staticfiles %}

{% block title %}
    Action
{% endblock %}

{% block head_ext %}

{% endblock %}

{% block body_ext %}
    <div>
        <div class="usernames">
            {% for family in familys %}
                <div class="name_click"><span>{{ family }}</span></div>
            {% endfor %}
        </div>
            <div id="bottomDisclaimer">
                <div class="col-md-6 col-xs-6 hack-fix">
                    <div class="action_click" id="word_left">{{ user.word1 }}</div>
                </div>
                <div  class="col-md-6 col-xs-6 hack-fix">
                    <div class="action_click" id="word_right">{{ user.word2 }}</div>
                </div>
                <div  class="col-md-6 col-xs-6 hack-fix">
                    <div class="action_click" id="lost">I'm Lost</div>
                </div>
                <div  class="col-md-6 col-xs-6 hack-fix">
                    <div class="action_click" id="emergency">Emergency</div>
                </div>
            </div>

    </div>

{% endblock %}