{% extends 'base_url.html' %}
{% load staticfiles %}

{% block title %}
    Action
{% endblock %}

{% block head_ext %}

{% endblock %}

{% block body_ext %}
    <div>
        <h1>Member</h1>
        <h1>Action</h1>

        <h3>Input button</h3>
        <input type="text" placeholder="hello text" id="hello_text">
        <div class="word">{{ user.word1 }}</div>
        <div class="word">{{ user.word2 }}</div>
        <div class="word">{{ user.word3 }}</div>
        <div id="hello">Hello</div>
        <div id="emergency">emergency</div>
        <div id="location">Location</div>
    </div>

{% endblock %}