{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    YoMaMa
{% endblock %}

{% block head_ext %}

{% endblock %}

{% block body_ext %}
<div id="yomama">
    <div class="col-xs-2 icon_reset">
        <img id="yo_icon" height=120 src="{% static 'img/yo-icon.png' %}">
    </div>
    <div class="col-xs-8">
        <div class="yomama_text">Yomama</div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-xs-2 icon_reset">
            <div class="yomama_text" id="go_logout">Logout</div>
        </div>
    {% endif %}
</div>
    
<div class="row">
    <div id="home-body">
{#    <div class="mama"><img src="{% static 'img/grandma.png' %}"><span class="mama_text">Instructions</span></div>#}
    {% if user.is_authenticated %}
        <div class="hello_title btn" id="go_action">Action</div>
        <div class="lost_title btn" id="go_dashboard">Dashboard</div>
    {% else %}
        <div class="lost_title btn" id="go_login">Login</div>
        <div class="emergency_title btn" id="go_register">Register</div>
    {% endif %}
    </div>
</div>

{% endblock %}